* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: lightblue;
}

.container {
  max-width: 920px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  background-color: hsl(0, 0%, 60%);
  background-image: url(images/background.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

header h1 {
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}

header a {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

header a:hover {
  color: black;
  background-color: white;
}

main {
  position: relative;
  background-color: #fff;
  min-height: calc(100vh - 250px);
}

main .search {
  width: 70%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  top: -20px;
}

main .search input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0 150px 0 50px;
  font-size: 1rem;
}

main .search input:focus {
  outline: none;
  box-shadow: hsla(0, 0%, 39%, 0.2) 0px 2px 8px 0px;
}

main .search img {
  position: absolute;
  width: 15px;
  height: 15px;
  fill: green;
  left: 20px;
}

main .search button {
  position: absolute;
  right: 0;
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  width: 120px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  border-left: 1px solid hsl(0, 0%, 83%);
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

/*  end main search */

/* start main search-result */

main .search-result {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

main .search-result .placeholder {
  color: hsl(0, 0%, 60%);
  text-align: center;
  margin-top: 250px;
}

main .search-result .placeholder img {
  width: 100px;
  height: 100px;
}

main .search-result .placeholder p {
  font-weight: 600;
  margin-top: 5px;
}

main .search-result .movie {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
main .search-result .movie:not(:last-child) {
  border-bottom: 2px solid lightgray;
}

main .search-result .movie .poster {
  width: 150px;
  height: 225px;
  background-color: red;
}

main .search-result .movie .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .search-result .movie .details {
  width: calc(100% - 200px);
  padding: 10px 0;
}

main .search-result .movie .details .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

main .search-result .movie .details .top .title {
  font-weight: 500;
  font-size: 1.3rem;
  width: 85%;
}

main .search-result .movie .details .top img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

main .search-result .movie .details .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

main .search-result .movie .details .info .runtime {
  width: 80px;
}

main .search-result .movie .details .info .genre {
  padding: 0 10px;
}

main .search-result .movie .details .info .watchlist button {
  border: none;
  background-color: #fff;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
}

main .search-result .movie .details .info .watchlist button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

main .search-result .movie .details .info .watchlist button:hover {
  border-color: black;
  cursor: pointer;
}

main .search-result .movie .details .plot {
  color: gray;
}

main .search-result .movie-not-found {
  color: hsl(0, 0%, 60%);
  text-align: center;
  margin-top: 250px;
  font-weight: 600;
  font-size: 1.2rem;
}
